body, html, .homepage-hero-area-4, .single-slide-item {
  height: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
.row.mg-25 {
	margin-top: 25px;
}
.homepage-hero-area-4{
    background-image: url(../img/hero-area-4.jpg);
}
.hero-form {
	box-shadow: 0 0 5px #ccc;
}
.slicknav_btn {
  background:#24d5a1;
}
.slicknav_nav a:hover,.slicknav_nav .slicknav_row:hover {
  background: #24d5a1;
}
.slide-item-wraper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 300;
}
.single-slide-item {
  display: table;
  width: 100%;
  height: 100%;
}
.slide-item-wraper h2 {
  font-size: 43px;
  font-weight: 700;
  color: #fff;
  line-height: 55px;
}
.website-ckeck-form {
  margin-top: 30px;
}
.website-ckeck-form input {
  background-color: #073b4c;
  border: none;
}
.website-ckeck-form input[type=submit] {
  background-color: #06d6a0;
}
.service-section::before{
    background-image: url(../img/h4-service-1.jpg);
}
body {
  font-weight: 300;
  line-height: 1.6;
}
.service-box-2 h4 {
  font-size: 18px;
}
.box-btn {
  background-color: #06d6a0;
}
.video-play-btn {
  display: inline-block;
  height: 60px;
  width: 60px;
  background: #06d6a0;
  line-height: 63px;
  color: #fff;
  border-radius: 50%;
  padding-left: 22px;
  margin-top: 15px;
}
.website-ckeck-form input {
	color: #fff;
}
.single-service-box:hover {
	border-color: #24d5a1;
}
.single-service-box:hover .service-readmore-btn, .single-service-box:hover h3, .single-service-box:hover .service-icon {
	color: #24d5a1;
}
.box-btn, input[type="submit"] {
	background: #24d5a1;
}
.cta-area.theme-5.servicev2 {
    background-image: url(../img/servicev2-cta-bg.jpg);
}
.socila-links li:hover a {
	color: #24d5a1;
}
.single-pricing-box:hover{
    border-color: #24d5a1;
}
.pricing-count{
    color: #24d5a1;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #06d6a0;
}
.single-pricing-box:hover .pricing-header {
  border-color: #24d5a1;
}
.single-bloge-box {
  color: #999;
  display: block;
  font-weight: 300;
  box-shadow: 0 0 10px #f5f5f5;
  padding: 30px;
  transition: .3s;
  margin: 15px 0;
}
.single-bloge-box h4 {
  font-size: 18px;
  line-height: 1.6;
}
.single-bloge-box p:last-child {
  margin: 0;
}
.single-bloge-box:hover {
  opacity: .9;
  color: #999;
}

.section-tittle {
  margin-bottom: 0;
}
.single-pricing-box.theme-2 {
	margin-top: 90px;
}
.testimonial-text {
	margin-top: 90px;
}
.single-team-box img {
  height: 280px;
  margin-bottom: 20px;
  width: 100%;
}
.single-team-box h5 {
  font-size: 18px;
  font-weight: 600;
}
.single-team-box h5 span {
  display: block;
  font-size: 14px;
  opacity: .6;
  margin-top: 5px;
}
.single-team-box {
  text-align: center;
}
.all-logo-brand {
  text-align: center;
}
.all-logo-brand img {
  width: auto;
  height: 90px;
  padding: 30px;
}

.search-bar-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: #0b3b4b;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.search-bar-wrap.\.active{
    opacity: 1;
    visibility: visible;
}
.search-bar-table {
  display: table;
  height: 100%;
  width: 100%;
}
.search-bar-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
input[type=text],input[type=email],input[type=search],input[type=url],input[type=paswood],input[type=textarea] {
  padding: 8px;
}
.search-bar-table-cell input {
  border: none;
  padding: 10px;
    color: #333;
}
.search-bar-table-cell button[type=submit] {
  background: #24d5a1;
}
.search-bar-wrap h2 {
  color: #fff;
}
.search-bar-inner{
    max-width: 500px;
    margin: 0 auto;
}
.search-close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	font-size: 20px;
	z-index: 999;
	padding: 20px;
	display: inline-block;
}